.line-box{
    padding: 10px 0px 10px 50px;
    position: relative;
    // border: 1px solid #ff6700;
    &::before,
    &::after{
        content: '';
        display: inline-block;
        position: absolute;
        left: 0px;
    }
    &::before {
        width: 8px;
        height: 8px;
        border: 2px solid rgba(218, 222, 231,.3);
        border-radius: 50%;
    }
    &::after {
        top: 28px;
        left: 5px;
        width: 2px;
        height: calc(100% - 20px - 12px);
        background-color: rgba(218, 222, 231, .3);
    }
    .inview {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 10px;
        left: 10px;
        // background-color: pink;
    }
}