.top-nav-box {
    width: 100vw;
    height: 50px;
    background-color: #ff6700;
    // border-bottom: 1px solid #000;
    background-color: #fff;
    position: sticky;
    z-index: 9999;
    top: 0px;
    img {
        height: 45px;
    }
}