.top-nav-box {
    width: 100vw;
    height: 50px;
    background-color: #ff6700;
    // border-bottom: 1px solid #000;
    background-color: #fff;
    position: sticky;
    z-index: 9999;
    top: 0px;
    display: flex;
    justify-content: space-between;
    img {
        height: 45px;
    }
    a {
        text-decoration: none;
        display: block;
        width: 100px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        margin-right: 3%;
        margin-top: 10px;
        background-color: #56a55a;
        border-radius: 5px;
    }
}

.top-nav-lng {
    height: 10px;
    padding: 10px 15px;
    border: 1px solid #606266;
    border-radius: 20px;
    font-size: 13px;
    line-height: 10px;
    text-align: center;
    margin-right: 40px;
    margin-top: 10px;
    transition: all 0.3s;
    user-select: none;
    &:hover{
        background-color: #dddddd;
    }
}