.ui-typing-box {
    width: 100%;
    font-size: 16px;
    // border: 1px solid blue;
    pre:after {
        content: '｜';
        animation: typing 1000ms infinite;
        font-weight: 700;
        margin-left: 1px;
        font-size: 1em;
        color: #fff;
    }
    pre {
        line-height: 25px;
        // color: invert(100%);
        color: #fff; 
    }
}
@keyframes typing {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 1;
    }
}