.content-title-box {
    .content-title {
        width: 65%;
        font-size: 64px;
        font-weight: 700;
        padding: 70px 20px 20px 50px;
        line-height: 68px;
        // color: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
        background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
        font-feature-settings: unset;
        transition: all 0.3s;
    }
    // .content-title:hover {
    //     background: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
    //     -webkit-background-clip:text;
    //     -webkit-text-fill-color:transparent;
    //     font-feature-settings: unset;
    // }
}
